
#grid{
    display:grid;
    grid-gap:2px;
    height: 485px;
    width: 485px;
    margin-top: 20px;
    border: solid black;
}

.template{
    background-color: white;
}

.template-hover{
    background-color: black;
}

#container{
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
}

#clear{
    font-size:20px;
    height: 40px;
    background-color: #58c75c;
    border-radius: 10px;
    width: 485px;
}

h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: coral;
margin: 0;
padding: 0;
}

p{
    font-size: 70%;
}